%li.dropdown#party
  %a{href: "#", class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
    = image_tag 'pirata.png', class: 'small-user-avatar', id: 'header-party-image'
    %b.caret
  %ul.dropdown-menu
    = render 'application/party_options'
